<section class="row">
	<div class="pull-right" style="bottom: 0; position: relative;">
		<a href='/sair' class="btn btn-danger"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a>
	</div>
</section>