<% include header %>
<header>
	<h1>Ntalk</h1>
	<h4>Infelizmente essa página não existe :(</h4>
</header>
<hr>
<section class="jumbotron">
	<div class="text-center">
		<p>Vamos voltar <a href="/">home page?</a> :)</p>
		<img src="https://cloud.githubusercontent.com/assets/526075/15203263/2e00c20a-17d8-11e6-9ff8-b12fd5c21efa.png" alt="Ha Ha">
	</div>
</section>
<% include footer %>