<% include header %>
<header class="page-header">
	<h1>Ntalk</h1>
	<h4>Aconteceu algo terrível! :(</h4>
</header>
<section class="jumbotron">
	<div class="text-center">
		<p>Veja os detalhes do erro:
		<br>
		<%- error.message %>
		</p>
		<hr>
		<p>Que tal voltar <a href="/">home page?</a> :)</p>
	</div>
</section>
<% include footer %>